swagger: "2.0"
info:
  description: "this is the swagger documentation for Petemoon project's APIs"
  version: "1.0.0"
  title: "Petemoon API"
host: "api.petemoon.com"
basePath: "/"
schemes:
  - "http"
  - "https"
  
paths:
  /accounts/otp:
    $ref: "./accounts/send_otp.yaml"
  /accounts/otp/verify:
    $ref: "./accounts/verify_otp.yaml"
  /accounts/refresh:
    $ref: "./accounts/refresh.yaml"
  /accounts/register:
    $ref: "./accounts/register.yaml"
  /accounts/register/petshop:
    $ref: "./accounts/register_petshop.yaml"
  /accounts/logout:
    $ref: "./accounts/logout.yaml"

  #product
  /product:
    $ref: "./product/get_list.yaml"
  /product/filters/:
    $ref: "./product/get_filters.yaml"
  /product/sales:
    $ref: "./product/get_sales.yaml"
  /product/{slug}:
    $ref: "./product/item.yaml"
  /product/{slug}/pricing:
    $ref: "./product/add_update_pricing.yaml"

  #dashboard
  /dashboard/address:
    $ref: "./dashboard/address.yaml"
  /dashboard/address/{id}:
    $ref: "./dashboard/address_id.yaml"

  /dashboard/bookmark:
    $ref: "./dashboard/bookmark.yaml"
  /dashboard/bookmark/{id}:
    $ref: "./dashboard/bookmark_id.yaml"

  /dashboard/orders:
    $ref: "./dashboard/orders.yaml"

  /dashboard/pet/:
    $ref: "./dashboard/pet.yaml"
  /dashboard/pet/{id}:
    $ref: "./dashboard/pet_id.yaml"

  /dashboard/message/:
    $ref: "./dashboard/message.yaml"

  #shopping cart
  /cart:
    $ref: "./cart/product.yaml"

  #petshop dashboard
  /petshop-dashboard/orders:
    $ref: "./petshop_dashboard/orders.yaml"
  /petshop-dashboard/orders/{id}:
    $ref: "./petshop_dashboard/order_id.yaml"
  /petshop-dashboard/products:
    $ref: "./petshop_dashboard/products.yaml"
