STAGE="PRODUCTION"
DEFAULT_DATABASE_NAME=""
DEFAULT_DATABASE_USER=""
DEFAULT_DATABASE_PASSWORD=""
DEFAULT_DATABASE_HOST=""
DEFAULT_DATABASE_PORT=""
CSRF_TRUSTED_ORIGINS=""
CSRF_COOKIE_DOMAIN=""
STATIC_URL=""
MEDIA_URL=""
DEBUG=""
SECRET_KEY=""
ALLOWED_HOSTS
REDIS_URL=""
KAVENEGAR_API_KEY=""
